<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análise de Qualidade</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Análise de Qualidade dos Fornecedores</h1>
    
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label for="csvFile">Selecione os arquivos CSV:</label>
        <input type="file" name="csvFile" multiple>
        <br><br>

        <label>Selecione o Fornecedor:</label><br>
        <input type="radio" id="fornecedorA" name="fornecedor" value="a" required>
        <label for="fornecedorA">Fornecedor A</label><br>
        <input type="radio" id="fornecedorB" name="fornecedor" value="b">
        <label for="fornecedorB">Fornecedor B</label><br><br>

        <button type="submit">Gerar Relatório</button>
    </form>
</body>
</html>
